@model MyProjectShopApp.UI.Models.ProductListModel
@{
    ViewData["Title"] = "List";
}



    <div class="row">

        <div class="col-md-3">

            @await Component.InvokeAsync("CategoryList")

        </div>




        <div class="col-md-9">


            <div class="row">

                @foreach (var item in Model.Products)
                {
                    <partial name="_ProductList" for="@item" />
                }

            </div>

            <div pages="@Model.pages"></div>


        </div>



    </div>

