
@{
    ViewData["Title"] = "Index";
}

    <div class="container">

        <h1>Admin</h1>

        <a asp-action="ProductList" asp-controller="Admin" class="btn btn-primary">Product List</a>
        <a asp-action="CategoryList" asp-controller="Admin" class="btn btn-primary">Category List</a>
        <a asp-action="Order" asp-controller="Admin" class="btn btn-primary">Order List</a>


    </div>

