@model MyProjectShopApp.UI.Models.CategoryListViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



    <div class="list-group">
        @foreach (var item in Model.Categories)
        {

            <a asp-controller="Shop" asp-action="List" asp-route-category="@item.CategoryName.ToLower()" class="list-group-item list-group-item-action @(Model.SelectedCategory==item.CategoryName.ToLower()?"active":"")">
                @item.CategoryName
            </a>
        }


    </div>